@font-face {
    font-family: Caroligian;
    src: url("../../../police/carolingia.ttf") format("truetype");
}

@font-face {
    font-family: skyrim;
    src: url("../../../police/skyrim.ttf") format("truetype");
}

body {
    background-image: url("../../../img/background_moutain.jpg");
}

.shadow {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    opacity: 0.5;
}

.line {
    position: absolute;
    top: 0;
    width: 0.1px;
    min-height: 100%;
    left: 50%;
    transform: translateX(-0.05px);
    background: white;
    opacity: 0.2;
}

.create {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    
}

.create h1 {
    position: relative;
    top: 0%;
    text-align: left;
    left: 5%;
    width: 100%;
    font-family: skyrim;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.create h2 {
    font-family: skyrim;
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.create .main {
    position: relative;
    top: 80%;
    width: 500px;
    height: 600px;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.create .main label{
    font-family: skyrim;
    font-size: 32px;
    color: gray;
    text-shadow: 2px 1px 1px black;
    margin-top: -25px;
    margin-right: 20px;
}

.create .main .Name {
    font-size: 45px;
    color: white;
}



.create .main input[type="radio"] + label {
    transition: 1s ease-out;
}

.create .main input[type="radio"]:hover + label {
    color: white;
    font-size: 40px;
}

.create .main input[type="radio"]:checked + label {
    color: white;
    font-size: 40px;
}



.create .main input[type="text"] {
    background: rgb(61, 58, 58);
    border: 2px white solid;
    color: rgb(197, 190, 190);
    font-family: Caroligian;
    font-size: 25px;
    width: 250px;
    height: 35px;
    border-radius: 15px;
}



.create input[type="submit"] {
    background: rgb(61, 58, 58);
    color: rgb(197, 190, 190);
    font-family: Caroligian;
    font-size: 30px;
    padding: 15px 150px;
    border-radius: 45px;
    border: 2px white solid;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-203.5px);

    background: linear-gradient(to left, rgb(61, 58, 58) 50%,  rgb(197, 190, 190) 50%) right;;
    background-size: 200%;
    
    transition:  1s ease-out;

}

.create input[type="submit"]:hover {
    background-position: left;
    color: rgb(56, 56, 56);
}



.save {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
}

.save h1 {
    position: relative;
    top: 15%;
    text-align: left;
    left: 5%;
    width: 90%;
    font-family: skyrim;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 1px black;

}

.save div {
    position: relative;
    top: 60%;
    width: 500px;
    height: 400px;
    left: 50%;
    transform: translateX(-250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.save div label {
    font-family: skyrim;
    font-size: 35px;
    color: white;
    text-shadow: 2px 1px 1px black;
    margin-top: -25px;
}

.save div input[type="text"] {
    background: rgb(61, 58, 58);
    border: 2px white solid;
    color: rgb(197, 190, 190);
    font-family: Caroligian;
    font-size: 30px;
    padding: 10px 50px;
    border-radius: 15px;
}

.save input[type="submit"] {
    background: rgb(61, 58, 58);
    color: rgb(197, 190, 190);
    font-family: Caroligian;
    font-size: 30px;
    padding: 15px 150px;
    border-radius: 45px;
    border: 2px white solid;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-203.5px);

    background: linear-gradient(to left, rgb(61, 58, 58) 50%,  rgb(197, 190, 190) 50%) right;;
    background-size: 200%;
    
    transition:  1s ease-out;

}

.save input[type="submit"]:hover {
    background-position: left;
    color: rgb(56, 56, 56);

}
