@font-face {
    font-family: Caroligian;
    src: url("../../../police/carolingia.ttf") format("truetype");
}

@font-face {
    font-family: skyrim;
    src: url("../../../police/skyrim.ttf") format("truetype");
}

@font-face {
    font-family: propre;
    src: url("../../../police/typo3.ttf") format("truetype");
}


body {
    background: url("../../../img/acierbackground.jpg");
}



.shadow {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.map {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 80%;
    background-image: url("../../../img/Corynthe.png");
    border-bottom: 5px white solid;
    border-left: 5px white solid;
}

.map h1 {
    font-family: skyrim;
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 60px;
    text-align: left;
    color: white;
    text-shadow: 6px 6px 3px black;
}

.map h2 {
    font-family: propre;
    position: absolute;
    bottom: 2%;
    left: 2.5%;
    font-size: 15px;
    text-align: left;
    color: white;
    text-shadow: 6px 6px 3px black;
    transition: 0.75s ease-out;
}

.map h2:hover {
    font-size: 20px;
    color: gray;
}

.map a .forgeron {
    position: absolute;
    top: 465px;
    left: 24%;
    transition: 0.5s ease-out;
}

.map a .forgeron div {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: white;
    font-family: skyrim;
    font-size: 30px;
    text-shadow: 3px 3px 2px black;
    transition: 0.75s ease-out;
}

.map a .forgeron div:hover{
    opacity: 1;
}

.map a .forgeron div h3{
    margin-top: -25px;
    text-align: center;
}

.map a .maitre {
    position: absolute;
    top: 450px;
    right: 25%;
    transition: 0.5s ease-out;
}

.map a .maitre div {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: white;
    font-family: skyrim;
    font-size: 30px;
    text-shadow: 3px 3px 2px black;
    transition: 0.75s ease-out;
}

.map a .maitre div:hover{
    opacity: 1;
}

.map a .maitre div h3{
    margin-top: -25px;
    text-align: center;
}


.bord1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
}

.bord2 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20%;
}

.bord1 image {
    position: relative;
    top: 0;
    left: 0;
}

.bord1 h1 {
    font-family: Caroligian;
    font-size: 40px;
    color: white;
    position: absolute;
    text-shadow: 2px 2px 1px black;
    text-align: left;
    top: 20px;
    right: 100px;

}
.bord1 h2 {
    font-family: Caroligian;
    font-size: 20px;
    color: white;
    position: absolute;
    text-shadow: 2px 2px 1px black;
    text-align: left;
    top: 80px;
    left: 240px;
}

.bord1 h3 {
    font-family: Caroligian;
    font-size: 45px;
    color: white;
    position: absolute;
    text-shadow: 2px 2px 1px black;
    text-align: left;
    top: 135px;
    left: 50px;
}

.bord1 a .stats {
    width: 300px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid white;
    background: black;
    color: white;
    font-family: Caroligian;
    font-size: 30px;
    transition: 0.75s ease-out;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-150px);
    cursor: pointer;
}

.bord1 a .stats:hover {
    color: black;
    background: rgb(189, 186, 186);
}

.bord1 a .skills {
    width: 300px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid white;
    font-size: 30px;
    background: black;
    color: white;
    font-family: Caroligian;
    transition: 0.75s ease-out;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-150px);
    cursor: pointer;
}

.bord1 a .skills:hover {
    color: black;
    background: rgb(189, 186, 186);
}
.bord2 .audioname {
    width: 90px;
    height: 20px;
    bottom: 30px;
    right: 0;
    position: absolute;
    background: black;
    border-top: 1px solid white;
    border-left: 1px solid white;;
    color: white;
    text-align: center;
    font-family: Caroligian;


}
.bord2 .audionav {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 30px;
	width: 90px;
	background: black;
	border-top: 1px solid white;
    border-left: 1px solid white;;
}

.bord2 .audionav .precedent {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
    cursor: pointer;
    transition: 0.75s ease-out;
}

.bord2 .audionav .precedent:hover {
    background: rgb(133, 131, 131);
}

.bord2 .audionav .precedent span {
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-20px);
    color: white;
    font: 30px;
}


.bord2 .audionav .pausebutton {
  position: relative;
  top: 0;
  left: 30px;
  width: 30px;
  height: 30px;
}

.bord2 .audionav button {
	color: white;
	background: black;
	font-size: 30px;
	text-align: center;
}

.bord2 .audionav button:active {
	background: gray;	
}


.bord2 .audionav .pausebutton input {
  opacity: 0;
  width: 0;
  height: 0;
}

.bord2 .audionav .pausebutton input:checked + .button {
  background: rgb(53, 52, 52)
}

.bord2 .audionav .pausebutton .button {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  text-align: center;
  height: 30px;
  cursor: pointer;
  transition: 0.75s ease-out;
}

.bord2 .audionav .pausebutton .button:hover {
    background: rgb(133, 131, 131);
}

.bord2 .audionav .pausebutton .button span {
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-7.5px);
    color: white;
    font: 30px;
}

.bord2 .audionav .skip {
	position: absolute;
	top: 0;
	left: 60px;
	width: 30px;
	height: 30px;
    cursor: pointer;
    transition: 0.75s ease-out;
}
.bord2 .audionav .skip:hover {
    background: rgb(133, 131, 131);
}

.bord2 .audionav .skip span {
    position: absolute;
    right: 0;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-20px);
    color: white;
    font: 30px;
}

.bord2 .xpbar {
    position: absolute;
    bottom: 0;
    width: 1500px;
    height: 30px;
    border: 2px solid gray;
    background-color: black;
    left: 50%;
    transform: translateX(-750px);
}

.bord2 .xpbar .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(66, 23, 66);
}

.bord2 .xpbar .xptext {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    transition: 0.5s opacity;
}

.bord2 .xpbar .xptext:hover {
    opacity: 1;
}
h6 {
    text-align: center;
    font-family: propre;
    margin-top: 2px;
    font-size: 15px;
    color: white;
    z-index: 1;
}