@font-face {
    font-family: Caroligian;
    src: url("../../../police/carolingia.ttf") format("truetype");
}

@font-face {
    font-family: skyrim;
    src: url("../../../police/skyrim.ttf") format("truetype");
}

body {
    background-image: url("../../../img/background_moutain.jpg");
}

.shadow {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    opacity: 0.5;
}

h1 {
    font-family: skyrim;
    font-size: 65px;
    width: 99%;
    text-align: center;
    color: white;
    position: absolute;
    top: 5%;
    text-shadow: 2px 2px 1px black;
}

h2 {
    font-family: Caroligian;
    font-size: 45px;
    width: 99%;
    text-align: center;
    color: white;
    position: absolute;
    top: 35%;
    text-shadow: 2px 2px 1px black;
}

h3 {
    font-family: Caroligian;
    font-size: 40px;
    width: 99%;
    text-align: center;
    color: white;
    position: absolute;
    top: 40%;
    text-shadow: 2px 2px 1px black;
}

#oui {
    background: rgb(61, 58, 58);
    color: rgb(197, 190, 190);
    font-family: Caroligian;
    font-size: 30px;
    padding: 15px 150px;
    border-radius: 45px;
    border: 2px white solid;
    position: absolute;
    top: 85%;
    left: 20%;

    background: linear-gradient(to left, rgb(61, 58, 58) 50%,  rgb(197, 190, 190) 50%) right;;
    background-size: 200%;
    
    transition:  1s ease-out;

}

#oui:hover {
    background-position: left;
    color: rgb(56, 56, 56);

}

#non {
    background: rgb(61, 58, 58);
    color: rgb(197, 190, 190);
    font-family: Caroligian;
    font-size: 30px;
    padding: 15px 150px;
    border-radius: 45px;
    border: 2px white solid;
    position: absolute;
    top: 85%;
    right: 20%;

    background: linear-gradient(to left, rgb(61, 58, 58) 50%,  rgb(197, 190, 190) 50%) right;;
    background-size: 200%;
    
    transition:  1s ease-out;

}

#non:hover {
    background-position: left;
    color: rgb(56, 56, 56);

}
